Repository theinterneti/TTA: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e, Agent Orchestration, Player Experience, Core TTA Components, Observability & Integration, Orchestration Layer

feat: wire free/local LLM into narrative engine (#137)
  src/ai_components/langgraph_integration.py
  src/ai_components/llm_factory.py
  src/components/gameplay_loop/controller.py
  src/components/gameplay_loop/narrative/engine.py
  src/components/gameplay_loop/narrative/scene_generator.py
  tests/unit/test_llm_factory.py
Due: unit, integration, e2e, Core TTA Components

fix: env var compatibility for Ollama URL and OpenRouter model selection
  src/ai_components/llm_factory.py
Due: unit, integration, e2e

fix: exclude post_deployment tests from unit test collection
  pyproject.toml
Due: none

feat: add POST /api/v1/gameplay/message endpoint (closes #61)
  src/player_experience/api/routers/gameplay.py
  src/player_experience/services/message_service.py
  tests/unit/test_message_service.py
Due: unit, integration, e2e, Player Experience

feat: session management — save/copy/clear/load (closes #62)
  src/player_experience/api/routers/sessions.py
  src/player_experience/services/message_service.py
  src/player_experience/services/session_store.py
  tests/unit/test_session_store.py
Due: unit, integration, e2e, Player Experience

feat: add Dolt + Redis persistence layer (issue #63)
  pyproject.toml
  src/player_experience/api/auth.py
  src/player_experience/api/routers/sessions.py
  src/player_experience/database/dolt_session_store.py
  src/player_experience/database/redis_cache.py
  tests/integration/test_persistence_integration.py
  uv.lock
Due: unit, integration, e2e, Player Experience

fix: share session store between MessageService and sessions router
  src/player_experience/api/routers/gameplay.py
Due: unit, integration, e2e, Player Experience

feat: Docker staging stack for Player Experience API (issue #64)
  Dockerfile.api
  docker-compose.staging.yml
  requirements.docker.txt
Due: none

test: audit and fix 28 failing tests; mark unimplemented features as xfail
  tests/integration/openhands/test_free_model_api.py
  tests/integration/test_world_system_integration.py
Due: none

fix: evict JWT from Redis cache on logout (closes #51)
  src/player_experience/api/routers/auth.py
Due: unit, integration, e2e, Player Experience

fix: chat input always enabled, fix E2E selector mismatches (closes #50)
  src/player_experience/frontend/src/components/Chat/GuidedExercise.tsx
  src/player_experience/frontend/src/components/Chat/InteractiveButton.tsx
  src/player_experience/frontend/src/pages/Chat/Chat.tsx
  tests/e2e/page-objects/ChatPage.ts
Due: unit, integration, e2e, Player Experience

fix: address Dependabot security vulnerabilities (closes #116)
  pyproject.toml
  src/player_experience/frontend/package.json
  uv.lock
Due: unit, integration, e2e, Player Experience

fix: resolve P0 code quality blockers for gameplay_loop and model_management
  pyproject.toml
  src/components/gameplay_loop/__init__.py
  src/components/gameplay_loop/base.py
  src/components/gameplay_loop/choice_architecture/agency_protector.py
  src/components/gameplay_loop/choice_architecture/generator.py
  src/components/gameplay_loop/choice_architecture/manager.py
  src/components/gameplay_loop/choice_architecture/validator.py
  src/components/gameplay_loop/consequence_system/causality_explainer.py
  src/components/gameplay_loop/consequence_system/outcome_generator.py
  src/components/gameplay_loop/consequence_system/progress_tracker.py
  src/components/gameplay_loop/consequence_system/system.py
  src/components/gameplay_loop/consequence_system/therapeutic_framer.py
  src/components/gameplay_loop/controller.py
  src/components/gameplay_loop/database/migrations.py
  src/components/gameplay_loop/database/neo4j_manager.py
  src/components/gameplay_loop/models/__init__.py
  src/components/gameplay_loop/models/core.py
  src/components/gameplay_loop/models/interactions.py
  src/components/gameplay_loop/models/progress.py
  src/components/gameplay_loop/models/validation.py
  src/components/gameplay_loop/narrative/complexity_adapter.py
  src/components/gameplay_loop/narrative/engine.py
  src/components/gameplay_loop/narrative/immersion_manager.py
  src/components/gameplay_loop/narrative/pacing_controller.py
  src/components/gameplay_loop/narrative/scene_generator.py
  src/components/gameplay_loop/narrative/therapeutic_storyteller.py
  src/components/model_management/interfaces.py
  src/components/model_management/model_management_component.py
  src/components/model_management/providers/custom_api.py
  src/components/model_management/providers/lm_studio.py
  src/components/model_management/providers/local.py
  src/components/model_management/providers/ollama.py
  src/components/model_management/providers/openrouter.py
  src/components/model_management/services/fallback_handler.py
  src/components/model_management/services/hardware_detector.py
  src/components/model_management/services/model_selector.py
  src/player_experience/services/message_service.py
Due: unit, integration, e2e, Player Experience, Core TTA Components

fix: correct asyncio.run() guards in sync wrappers (closes #74)
  src/agent_orchestration/agents.py
  src/agent_orchestration/tools/invocation_service.py
Due: unit, integration, e2e, Agent Orchestration

fix: resolve linting violations in OpenHands integration code (closes #77)
  src/agent_orchestration/openhands_integration/cli.py
  src/agent_orchestration/openhands_integration/client.py
  src/agent_orchestration/openhands_integration/config.py
  src/agent_orchestration/openhands_integration/docker_client.py
  src/agent_orchestration/openhands_integration/error_recovery.py
  src/agent_orchestration/openhands_integration/execution_engine.py
  src/agent_orchestration/openhands_integration/helpers.py
  src/agent_orchestration/openhands_integration/model_selector.py
  src/agent_orchestration/openhands_integration/models.py
  src/agent_orchestration/openhands_integration/optimized_client.py
  src/agent_orchestration/openhands_integration/proxy.py
  src/agent_orchestration/openhands_integration/result_validator.py
  src/agent_orchestration/openhands_integration/retry_policy.py
  src/agent_orchestration/openhands_integration/task_queue.py
  src/agent_orchestration/openhands_integration/test_e2e.py
  src/agent_orchestration/openhands_integration/test_error_handler.py
  src/agent_orchestration/openhands_integration/test_generation_models.py
  src/agent_orchestration/openhands_integration/test_generation_service.py
  src/agent_orchestration/openhands_integration/test_result_validator.py
  src/orchestration/component.py
  src/orchestration/component_loader.py
Due: unit, integration, e2e, Agent Orchestration, Orchestration Layer

fix: add unit tests and README for gameplay_loop, fix integration markers (closes #57)
  src/components/gameplay_loop/README.md
  tests/integration/test_core_gameplay_loop.py
  tests/integration/test_gameplay_loop_integration.py
  tests/unit/model_management/services/test_fallback_handler_properties.py
  tests/unit/test_gameplay_loop_consequence.py
  tests/unit/test_gameplay_loop_controller.py
  tests/unit/test_gameplay_loop_models.py
  tests/unit/test_gameplay_loop_validator.py
  tests/unit/test_message_service.py
Due: unit, integration, e2e, Core TTA Components

fix: boost model_management test coverage to 76.84%, close #55
  tests/unit/model_management/providers/test_providers.py
  tests/unit/model_management/providers/test_providers_additional.py
  tests/unit/model_management/services/test_model_selector_additional.py
  tests/unit/model_management/services/test_services_additional.py
  tests/unit/model_management/test_api.py
Due: none

feat: implement production deployment automation (closes #49)
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/post-deployment-tests.yml
  DEPLOYMENT.md
Due: none

fix: resolve 66 pyright errors across 6 components (closes #58)
  .secrets.baseline
  src/ai_components/langgraph_integration.py
  src/ai_components/llm_factory.py
  src/analytics/services/realtime_monitoring_service.py
  src/analytics/services/reporting_service.py
  src/components/therapeutic_systems_enhanced/error_recovery_manager.py
  src/components/therapeutic_systems_enhanced/gameplay_loop_controller.py
  src/orchestration/component_loader.py
  src/orchestration/decorators.py
  src/orchestration/orchestrator.py
  src/player_experience/api/routers/auth.py
  src/player_experience/api/routers/chat.py
  src/player_experience/api/routers/conversation.py
  src/player_experience/api/routers/gameplay.py
  src/player_experience/api/routers/metrics.py
  src/player_experience/api/routers/sessions.py
  src/player_experience/api/test_sentry_integration.py
  src/player_experience/database/player_profile_repository.py
  src/player_experience/database/redis_cache.py
  src/player_experience/database/user_repository.py
  src/player_experience/franchise_worlds/api/main.py
  src/player_experience/monitoring/logging_config.py
  src/player_experience/security/rate_limiter.py
  src/player_experience/services/message_service.py
Due: unit, integration, e2e, Player Experience, Core TTA Components, Orchestration Layer

fix: restore type ignore to correct line after ruff reformat in orchestrator
  src/orchestration/orchestrator.py
Due: unit, integration, e2e, Orchestration Layer

fix: resolve all remaining 168 pyright errors across src/ (closes #59)
  src/ai_components/llm_factory.py
  src/api_gateway/interfaces/patient_api.py
  src/common/health_checks.py
  src/components/agent_orchestration_component.py
  src/components/carbon_component.py
  src/components/character_arc_integration.py
  src/components/character_arc_manager.py
  src/components/docker_component.py
  src/components/narrative_arc_orchestrator_component.py
  src/components/narrative_coherence_engine.py
  src/developer_dashboard/dashboard_config.py
  src/developer_dashboard/test_battery_integration.py
  src/living_worlds/neo4j_integration.py
  src/main.py
  src/monitoring/metrics_middleware.py
  src/monitoring/realtime_alerts.py
  src/observability_integration/apm_setup.py
  src/observability_integration/primitives/cache.py
  src/observability_integration/primitives/router.py
  src/observability_integration/primitives/timeout.py
Due: unit, integration, e2e, Core TTA Components, Observability & Integration

fix: resolve 3 gameplay loop bugs found in e2e smoke test
  src/components/gameplay_loop/narrative/scene_generator.py
  src/orchestration/component_loader.py
  src/player_experience/services/gameplay_service.py
Due: unit, integration, e2e, Player Experience, Core TTA Components, Orchestration Layer

fix: resolve next_scene null and expose choices in session status
  src/components/gameplay_loop/choice_architecture/validator.py
  src/components/gameplay_loop/controller.py
  src/components/gameplay_loop/narrative/engine.py
Due: unit, integration, e2e, Core TTA Components

fix: resolve 3 gameplay quality issues — choices, placeholders, total_choices
  src/components/gameplay_loop/choice_architecture/generator.py
  src/components/gameplay_loop/choice_architecture/validator.py
  src/components/gameplay_loop/consequence_system/outcome_generator.py
  src/integration/gameplay_loop_integration.py
  src/player_experience/api/routers/gameplay.py
  tests/unit/test_gameplay_loop_validator.py
Due: unit, integration, e2e, Player Experience, Core TTA Components

test: add unit tests for ChoiceGenerator and OutcomeGenerator
  tests/unit/test_gameplay_loop_generator.py
  tests/unit/test_gameplay_loop_outcome_generator.py
Due: none

feat: add LLM-generated choice text with template fallback
  src/components/gameplay_loop/choice_architecture/generator.py
  src/components/gameplay_loop/choice_architecture/manager.py
  src/components/gameplay_loop/controller.py
Due: unit, integration, e2e, Core TTA Components

feat: add LLM-generated outcome text with template fallback
  src/components/gameplay_loop/consequence_system/outcome_generator.py
  src/components/gameplay_loop/consequence_system/system.py
  src/components/gameplay_loop/controller.py
Due: unit, integration, e2e, Core TTA Components

test: add unit tests for NarrativeEngine and SceneGenerator (45 tests)
  tests/unit/test_gameplay_loop_narrative_engine.py
Due: none

test: add unit tests for TherapeuticFramer, CausalityExplainer, ProgressTracker (80 tests)
  tests/unit/test_gameplay_loop_consequence_components.py
Due: none

feat: wire DoltGameplayManager into gameplay loop persistence
  src/components/gameplay_loop/controller.py
  src/components/gameplay_loop/database/dolt_manager.py
  src/components/gameplay_loop_component.py
  tests/unit/test_gameplay_loop_dolt_manager.py
Due: unit, integration, e2e, Core TTA Components

Path conditions:
  unit: any of: src/, but not: tests/**, scripts/**, docs/**, **/__pycache__/**, **/conftest.py, **/.venv/**, **/node_modules/**, htmlcov/**, .augment/**, packages/**
  integration: any of: src/, but not: tests/**, scripts/**, docs/**, **/__pycache__/**, **/conftest.py, **/.venv/**, **/node_modules/**, htmlcov/**, .augment/**, packages/**
  e2e: any of: src/, but not: tests/**, scripts/**, docs/**, **/__pycache__/**, **/conftest.py, **/.venv/**, **/node_modules/**, htmlcov/**, .augment/**, packages/**
  Agent Orchestration: any of: src/agent_orchestration/**, but not: tests/**, scripts/**, docs/**, **/__pycache__/**, **/conftest.py, **/.venv/**, **/node_modules/**, htmlcov/**, .augment/**, packages/**
  Player Experience: any of: src/player_experience/**, but not: tests/**, scripts/**, docs/**, **/__pycache__/**, **/conftest.py, **/.venv/**, **/node_modules/**, htmlcov/**, .augment/**, packages/**
  Core TTA Components: any of: src/components/**, but not: tests/**, scripts/**, docs/**, **/__pycache__/**, **/conftest.py, **/.venv/**, **/node_modules/**, htmlcov/**, .augment/**, packages/**
  Observability & Integration: any of: src/observability_integration/**, but not: tests/**, scripts/**, docs/**, **/__pycache__/**, **/conftest.py, **/.venv/**, **/node_modules/**, htmlcov/**, .augment/**, packages/**
  Orchestration Layer: any of: src/orchestration/**, but not: tests/**, scripts/**, docs/**, **/__pycache__/**, **/conftest.py, **/.venv/**, **/node_modules/**, htmlcov/**, .augment/**, packages/**
