Repository theinterneti/TTA: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e, Agent Orchestration, Player Experience, Core TTA Components, Observability & Integration, Orchestration Layer

codecov.yml:

# Codecov Configuration for TTA
# See: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 70%
        threshold: 2%
        base: auto
        if_ci_failed: error

    patch:
      default:
        target: 60%
        threshold: 5%
        base: auto

    changes:
      default:
        branches:
          - main
          - staging

# Component-specific coverage targets aligned with TTA maturity workflow
component_management:
  individual_components:
    - component_id: "agent_orchestration"
      name: "Agent Orchestration"
      paths:
        - "src/agent_orchestration/**"
      coverage:
        target: 70%
        threshold: 2%

    - component_id: "player_experience"
      name: "Player Experience"
      paths:
        - "src/player_experience/**"
      coverage:
        target: 70%
        threshold: 2%

    - component_id: "components"
      name: "Core TTA Components"
      paths:
        - "src/components/**"
      coverage:
        target: 70%
        threshold: 2%

    - component_id: "observability"
      name: "Observability & Integration"
      paths:
        - "src/observability_integration/**"
      coverage:
        target: 85%
        threshold: 2%

    - component_id: "orchestration"
      name: "Orchestration Layer"
      paths:
        - "src/orchestration/**"
      coverage:
        target: 70%
        threshold: 2%

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  show_carryforward_flags: yes

ignore:
  - "tests/**"
  - "scripts/**"
  - "docs/**"
  - "**/__pycache__/**"
  - "**/conftest.py"
  - "**/.venv/**"
  - "**/node_modules/**"
  - "htmlcov/**"
  - ".augment/**"
  - "packages/**" # Dev toolkit packages tested separately

flags:
  unit:
    paths:
      - src/
    carryforward: true

  integration:
    paths:
      - src/
    carryforward: true

  e2e:
    paths:
      - src/
    carryforward: false

github_checks:
  annotations: true

feat(platform): migrate cline component to platform_tta_dev
  platform_tta_dev/components/cline/README.md
  platform_tta_dev/components/cline/core/hooks/post_task_observability_metrics.js
  platform_tta_dev/components/cline/core/hooks/post_tool_use_quality_assurance.js
  platform_tta_dev/components/cline/core/rules/hooks/pre_task_persona_detection.js
  platform_tta_dev/components/cline/core/rules/hooks/pre_tool_use_enforce_tta_standards.js
Due: none

feat(platform): migrate personas component to platform_tta_dev
  platform_tta_dev/components/personas/README.md
  platform_tta_dev/components/personas/core/SERENA_PROJECT_MANAGEMENT.md
  platform_tta_dev/components/personas/core/TTA_DEV_ARCHITECTURE.md
  platform_tta_dev/components/personas/core/metrics/persona-metrics.json
  platform_tta_dev/components/personas/core/persona-overrides.json
  platform_tta_dev/components/personas/core/personas/DevOpsGuardian.md
  platform_tta_dev/components/personas/core/personas/PrimitiveArchitect.md
  platform_tta_dev/components/personas/core/personas/QualityGuardian.md
  platform_tta_dev/components/personas/core/prototypes/tta_dev_cli.py
Due: none

docs: update path references to new platform_tta_dev structure
  DOCS_QUICK_REF.md
  app_tta/README.md
  platform_tta_dev/components/augment/README.md
Due: none

docs: update chatmode resource paths to new component structure
  platform_tta_dev/components/hypertool/workflows/chatmodes/architect.chatmode.md
  platform_tta_dev/components/hypertool/workflows/chatmodes/backend-dev.chatmode.md
  platform_tta_dev/components/hypertool/workflows/chatmodes/devops.chatmode.md
  platform_tta_dev/components/hypertool/workflows/chatmodes/frontend-dev.chatmode.md
  platform_tta_dev/components/hypertool/workflows/chatmodes/qa-engineer.chatmode.md
Due: none

docs: update KB location reference in main README
  README.md
Due: none

chore: add backward-compatibility symlinks and cleanup
  .augment
  .cline
  .gitignore
  .serena
  platform_tta_dev/components/serena/cli/scripts/agno_agent.py
  platform_tta_dev/components/serena/cli/scripts/demo_run_tools.py
  platform_tta_dev/components/serena/cli/scripts/gen_prompt_factory.py
Due: none

docs: add comprehensive migration summary
  MIGRATION_SUMMARY.md
Due: none

docs: update path references in documentation files
  SPEC_REVIEW_AUDIT_2025-11-02.md
  docs/development/environment-overlays.md
  docs/development/reorg/tta-separation-roadmap.md
Due: none

feat: add gga AI code review with Ollama integration
  .gga
  .pre-commit-config.yaml
  CODE_STANDARDS.md
Due: none

docs: Add comprehensive architecture documentation
  ARCHITECTURE.md
  gga_test_clean.py
  platform/README.md
Due: none

fix: resolve test failures and lint violations
  pyproject.toml
  src/player_experience/api/auth.py
  src/player_experience/api/middleware.py
  src/player_experience/api/routers/metrics.py
  src/player_experience/api/routers/sessions.py
  src/player_experience/managers/character_avatar_manager.py
  src/player_experience/services/auth_service.py
  src/player_experience/utils/normalization.py
  tests/conftest.py
  tests/test_adapters_generated_sample.py
  tests/test_api_structure.py
  tests/test_comprehensive_integration.py
  tests/test_end_to_end_workflows.py
  tests/test_enhanced_authentication.py
  tests/test_metrics_endpoint.py
Due: unit, integration, e2e, Player Experience

docs: create docs/design/ with GDD and all source materials
  docs/design/GDD.md
  docs/design/README.md
  docs/design/TTA-7-design-document.md
  docs/design/amazing-ideas.md
  docs/design/architecture.md
  docs/design/clinical-consultation-framework.md
  docs/design/core-gameplay-loop.md
  docs/design/data-model.md
  docs/design/entertainment-first-design.md
  docs/design/evidence-based-frameworks.md
  docs/design/onboarding-scenarios.md
  docs/design/technical-specifications.md
  docs/design/therapeutic-integration.md
  docs/design/user-journey-matrix.md
Due: none

test: audit and fix 28 failing tests; mark unimplemented features as xfail
  tests/integration/openhands/test_free_model_api.py
  tests/integration/openhands/test_registry.py
  tests/integration/test_gameplay_loop_integration.py
  tests/integration/test_progress_tracking_integration.py
  tests/integration/test_session_engine_integration.py
  tests/integration/test_world_system_integration.py
  tests/test_orchestrator_docker.py
Due: none

test: fix 3 stale API references in test_model_management
  tests/test_model_management.py
Due: none

feat: wire TTA.dev packages via path sources, re-enable ai-dev-toolkit
  packages/ai-dev-toolkit/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

fix: checkout TTA.dev in CI before uv sync (path source dependency)
  .github/workflows/code-quality.yml
  .github/workflows/coverage.yml
  .github/workflows/tests.yml
  .secrets.baseline
Due: none

fix: use git clone for TTA.dev checkout in CI (actions/checkout path restriction)
  .github/workflows/code-quality.yml
  .github/workflows/coverage.yml
  .github/workflows/tests.yml
  .secrets.baseline
Due: none

fix: sync correct dependency groups in CI and replace redis-cli with nc
  .github/workflows/code-quality.yml
  .github/workflows/coverage.yml
Due: none

fix: add TTA.dev clone to security scan jobs + suppress historical gitleaks findings
  .github/workflows/security-scan.yml
  .gitleaksignore
Due: none

fix: add all gitleaks fingerprints from removed platform_tta_dev/ directory
  .gitleaksignore
Due: none

fix: exclude post_deployment/e2e tests from unit test job; disable coverage threshold
  .github/workflows/tests.yml
  .secrets.baseline
Due: none

fix: correct coverage threshold flag and auth test expected status codes
  .github/workflows/tests.yml
  tests/test_enhanced_authentication.py
Due: none

fix: exclude post_deployment/e2e from coverage workflow; disable fail_under
  .github/workflows/coverage.yml
Due: none

fix: migrate Pydantic v1 validators to v2 in agent_orchestration
  pyproject.toml
  src/agent_orchestration/config_schema.py
  src/agent_orchestration/models.py
  uv.lock
Due: unit, integration, e2e, Agent Orchestration

fix: sort imports in agent_orchestration after Pydantic v2 migration
  src/agent_orchestration/config_schema.py
  src/agent_orchestration/models.py
Due: unit, integration, e2e, Agent Orchestration

fix: complete Pydantic v2 migration in tta-ai-framework and tests
  packages/tta-ai-framework/src/tta_ai/orchestration/models.py
  tests/agent_orchestration/test_models.py
Due: none

fix: migrate class-based Pydantic Config to v2 ConfigDict
  src/agent_orchestration/openhands_integration/primitives.py
  src/agent_orchestration/openhands_integration/test_generation_models.py
  src/components/gameplay_loop/models/core.py
  src/components/gameplay_loop/models/interactions.py
  src/components/gameplay_loop/models/progress.py
  src/components/gameplay_loop/models/validation.py
Due: unit, integration, e2e, Agent Orchestration, Core TTA Components

feat: wire DefaultCharacterWorldService into login endpoint (closes #60)
  src/player_experience/api/routers/auth.py
Due: unit, integration, e2e, Player Experience

test: replace stale xfail with integration mark in world system tests
  tests/integration/test_world_system_integration.py
Due: none

feat: wire free/local LLM into narrative engine
  src/ai_components/langgraph_integration.py
  src/ai_components/llm_factory.py
  src/components/gameplay_loop/controller.py
  src/components/gameplay_loop/narrative/engine.py
  src/components/gameplay_loop/narrative/scene_generator.py
  tests/unit/test_llm_factory.py
Due: unit, integration, e2e, Core TTA Components
